<form [formGroup]="registerData" (ngSubmit)="signup()">
  <input
    type="text"
    name="username"
    placeholder="username"
    formControlName="username"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="email"
    formControlName="email"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="password"
    formControlName="password"
    required
  />
  <input
    type="text"
    name="name"
    placeholder="name"
    formControlName="name"
    required
  />
  <input
    type="text"
    name="lastName"
    placeholder="last name"
    formControlName="lastName"
    required
  />
  <button>Register</button>
</form>
