<div class="main">
  <form>
    <select name="companyType" id="">
      <option value="PA">PA</option>
      <option value="SRL">SRL</option>
      <option value="SPA">SPA</option>
      <option value="SAS">SPA</option>
    </select>
    <input
      type="companyName"
      name="companyName"
      placeholder="company name"
      formControlName="companyName"
      required
    />
    <input
      type="pIva"
      name="pIva"
      placeholder="p.iva"
      formControlName="pIva"
      required
    />
    <input
      type="date"
      name="lastContactDate"
      placeholder="last contact date"
      formControlName="lastContactDate"
      required
    />
    <input
      type="number"
      name="revenue"
      placeholder="revenue"
      formControlName="revenue"
      required
    />
    <input
      type="email"
      name="pec"
      placeholder="pec"
      formControlName="pec"
      required
    />
    <input
      type="number"
      name="telephone"
      placeholder="telephone"
      formControlName="telephone"
      required
    />
    <input
      type="email"
      name="emailContact"
      placeholder="email contact"
      formControlName="emailContact"
      required
    />
    <input
      type="name"
      name="nameContact"
      placeholder="name contact"
      formControlName="nameContact"
      required
    />
    <input
      type="lastName"
      name="lastNameContact"
      placeholder="last name contact"
      formControlName="lastNameContact"
      required
    />
    <input
      type="number"
      name="numberContact"
      placeholder="number contact"
      formControlName="numberContact"
      required
    />
    <input type="logo" name="logo" placeholder="logo" formControlName="logo" />
    <button>Register Client</button>
  </form>
</div>
